################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/test3_Alieva
/catch.hpp
/test3_Alieva.sln
*.vcxproj
*.filters
*.user
